@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

body{
    color: white;
    /* background: white !important; */
    font-family: 'Croissant One', cursive;
}
.v_btn{
    /* flex: 1 1 auto; */
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    line-gap-override: 2px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color:black;
    font-weight: 400;
    font-family: 'Croissant One', cursive;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
   background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    border-radius: 10px;
}
.btn_spc{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    background-color: black !important;
    font-weight: 400;
    font-family: 'Croissant One', cursive;
    border-radius: 10px;
    padding: 3px;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;

    color: aliceblue;
}
.v_status{
    display: flex;
    font-weight: 100;
    font-size: smaller;
    justify-content: center;
    color:  blue;
    text-transform: capitalize;
    align-items: center;
}

.v_btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
.v_head_1{
   color: white; 
   font-family: 'Croissant One', cursive;
  

   font-size: 3rem;
   padding: 7px;
}

.v_head_main{
    display: flex;
    justify-content: center;  
    align-items: center;  
}

.v_main{
    overflow: hidden;
    padding: 5px;    
}

.v_icon{
    margin-left: 10px;
    margin-right: 5px;
}
.v_video_controls{
    display: flex;
    justify-content: center; 
}
.v_video{
    display: flex;
    justify-content: center; 
    margin-top: 10px;
}
video{
    background: white;
}
.v_recorded{
    position: absolute;
    top: 40%;
    left: 50%;
    translate: -50%;

}

.v_submit{
    display: flex;
    position: absolute;
    top: 70%;
    left: 50%;
    translate: -50%;
}